<div class="space-y-4">
    <div>
        <h3 class="font-semibold">Titre</h3>
        <p>{{ listing.subject }}</p>
    </div>
    <div>
        <h3 class="font-semibold">Catégorie</h3>
        <p>{{ listing.category }} > {{ listing.subcategory }}</p>
    </div>
    <div>
        <h3 class="font-semibold">Prix Suggéré</h3>
        <p>{{ listing.price }}€</p>
    </div>
    <div>
        <h3 class="font-semibold">Description</h3>
        <p class="whitespace-pre-line">{{ listing.description }}</p>
    </div>
</div>
